.banner-container {
    position: relative;
    height: 100%;
}

.banner-info {
    max-width: 400px;
    position: absolute;
    top: 45%;
    left: 10%;
}

.banner-info .title, .action-btn {
    color: #fbaf5d;
}

.banner-info .action-btn {
    cursor: pointer;
    display: inline-block;
}
