html, body {
    margin: 0;
    padding: 0;
    background-color: #f7f6f6;
    height: 100%;
}

#react-root {
    height: 100%;
}

main {
    height: calc(100% - 50px);
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.justify-space-between {
    justify-content: space-between;
}

.align-stretch {
    align-items: stretch;
}

.align-baseline {
    align-items: baseline;
}

.align-end {
    align-items: flex-end;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-item {
    flex: 1;
}

@media all and (max-width: 640px) {
    .flex-container {
        flex-direction: column;
    }
}
