.donuts-lists-container {
    width: 65%;
    margin-top: 30px;
}

.donuts-lists-container .btn-holder {
    text-align: right;
    margin-right: 10px;
}

@media all and (max-width: 640px) {
    .donuts-lists-container {
        width: 95%;
    }
}
